/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #89303d;
    --ifm-color-primary-dark: #832836;
    --ifm-color-primary-darker: #7b1e2c;
    --ifm-color-primary-darkest: #660916;
    --ifm-color-primary-light: #cd4d60;
    --ifm-color-primary-lighter: #d87381;
    --ifm-color-primary-lightest: #f0a5b0;
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: #242835;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
    --ifm-color-primary: #cd4d60;
    --ifm-color-primary-dark: #c4475a;
    --ifm-color-primary-darker: #ab4151;
    --ifm-color-primary-darkest: #a23e4d;
    --ifm-color-primary-light: #f0a5b0;
    --ifm-color-primary-lighter: #fcbcc5;
    --ifm-color-primary-lightest: #ffd2d9;
    --docusaurus-highlighted-code-line-bg: #242835;
}
